<%- include('../layouts/admin/header.ejs') %>

<div class="container-scroller">

    <%- include('../layouts/admin/sidebar.ejs') %>

    <div class="container-fluid page-body-wrapper">

        <%- include('../layouts/admin/navbar.ejs') %>

            <!-- partial -->

          <div class="main-panel">

            <div class="content-wrapper">
                              
            <div class="d-flex justify-content-end">
               
                <form action="/admin/addProducts" method="get">

                 

                    <button type="submit" class="btn btn-outline-info btn-icon-text"><i class="mdi mdi-upload btn-icon-prepend"></i>Add Product</button>

                </form>
              </div>

           <div class="w-100  container-fluid mt-3 mb-4">

            <table class="table table-dark rounded-2 w-100" style="border-radius: 10px;">

              <thead class="text-center">

                  <tr class="text-center ">
                      <th class="text-white">No</th>
                      <th class="text-white">Name</th>
                      <th class="text-white">Image</th>
                      <th class="text-white">Stock</th>
                      <th class="text-white">Price</th>
                      <th class="text-white">Discount Price</th>
                      <th class="text-white">Category</th>
                      <th class="text-white">Status</th>
                      <th class="text-white">Action</th>             
                    </tr>
                    
                </thead>
                
                <tbody>

        <% if (products.length > 0) { %>
                                                            
            <%products.slice().reverse().forEach((pro , indx) => { %>
        
                <tr class="text-center">
                    
                    <td><%= indx + 1 + skip%></td>

                    <td><%= pro.name %></td>
                    
                    <td>

                    <div class="progress d-flex align-items-center h-100 w-100" style=" background-color: transparent; justify-content: center;">

                        
                        <% pro.images.forEach(img => { %>
                            
                        <div class="cir" style="display: inline-block; width: 30px; height: 30px;  border-radius: 50%; overflow: hidden;">
                            <img style="width: 100%; height: 100%; object-fit: cover; " src='/assets/productImages/<%= img %>' alt="">
                        </div>
                            
                    <% }); %>

                    </div>

                    </td>
                          
                        <td><%= pro.stock %></td>
                        <td><%= pro.price %></td>
                        <td><%= pro.discount %>%</td>
                        <td><%= pro.category_id.name%></td>

                        <td>
                            
                        <% if (pro.status == true) { %>

                            <span class="text-success" id="s<%=  pro._id %>">Listed</span>
                            
                            <%  } else { %>
                                
                            <span class="text-danger" id="s<%=  pro._id %>">Unlisted</span>

                        <% } %>
                        
                        </td> 

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Action
                            </button>
                            <div class="dropdown-menu text-center"  aria-labelledby="dropdownMenuButton" >

                                <a class="dropdown-item text-primary" href="/admin/editProduct?id=<%= pro._id %>">Edit</a>
                                
                                 <!-- <a class="dropdown-item text-danger" href="#">Delete</a> -->
                                 
                                 <button type="button" id="s<%=pro._id %>" class="btn px-5 mt-1 <%= pro.status == false ? 'btn-outline-success' : 'btn-outline-danger' %>" onclick="productAction('<%= pro._id %>' , this)" style="margin-right: 5px;"><%= pro.status ? 'Unlist' :'List'%></button>
     
                             </div>
                          </div>


                    </td>

                </tr>

            <%  }); %>

        <% } else { %>

            <tr>
                <td colspan="10" class=" text-center">Product Not Found</td>
           </tr>

        <%} %>
     
           </tbody>

        </table>

        <p hidden id="swal"><%= messages %></p>
        
        <!-- End table -->
        
    </div>
    
    <%-include('../layouts/admin/Pagination') %>
    
</div>


</div>

</div>

</div>
<%- include('../layouts/admin/footer.ejs') %>
<script  src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    const messages = document.getElementById('swal')
    
    if(messages.textContent.trim() == 'product added'){
    
      Swal.fire({
            position: "top-end",
            icon: "success",
            title:"Product Added successfuly",
            text:'your product added successfuly',
            showConfirmButton: false,
            timer: 1500
});


    
    };

    if(messages.textContent.trim() == 'product eddited'){
    
    Swal.fire({
          position: "top-end",
          icon: "success",
          title:"Product Eddited successfuly",
          text:'your product eddited successfuly',
          showConfirmButton: false,
          timer: 1500
});

  
  };

    //  Product Action :-

    function productAction(id , value){

        const status = document.getElementById(`s${id}`);

        fetch(`/admin/productAction?id=${id}` , {
            
            method : 'put' , 
            headers :{

                'Content-Type' : 'application/json'

            }   
        })

        .then(response =>{

            if(!response.ok){

                throw error

            }

        })

        .then(data =>{

            if (value.textContent == 'List') {

                value.textContent = 'Unlist'
                value.classList.remove('btn-outline-success');
                value.classList.add('btn-outline-danger');

                status.textContent = 'Listed'
                status.classList.add('text-success')
                status.classList.remove('text-danger')
                
            } else {

                value.textContent = 'List'
                value.classList.remove('btn-outline-danger')
                value.classList.add('btn-outline-success')

                status.textContent = "Unlisted"
                status.classList.add('text-danger')
                status.classList.remove('text-success')

            }

        })

    };


</script>

<style>

    .swal2-popup {
  
      /* font-size: 16px;  */
      background-color: #ffffff;
  
    }
    .swal2-content, .swal2-title {
  
      color: #29b926 !important;
  
    }
  
  </style>
  


