<%-include('../layouts/admin/header') %>

  <div class="container-scroller">

    <%-include('../layouts/admin/sidebar') %>

    <div class="container-fluid page-body-wrapper">

        <%-include('../layouts/admin/navbar') %>

      <!-- partial -->

        <div class="main-panel">

          <div class="content-wrapper ">
            <div  id="reloadDiv" class="w-100 container-fluid mb-5  ">
              <table class="table-bordered w-100 mt-4 h-75 table table-active bg-white rounded-2 ">
                

                  <thead style="background-color: rgb(23, 21, 21);border-radius: 10px;" >
                      <tr class="text-center ">
                          <th>No</th>
                          <th>profile</th>
                          <th>Name</th>
                          <th>Email</th>
                          <!-- <th>Mobile</th> -->
                          <th>Status</th>
                          <th>Action</th>
                          
                      </tr>
                  </thead>
                  <tbody style="background-color: rgb(62, 57, 57);color: aliceblue;">
                    
                    

                 <% if (user.length > 0 ) { %>

                  <%  for(let i= 0 ; i < user.length ; i++ ){  %>
                      
           

                              <tr class="text-center ">
                                  <td><%= i + 1 + skip%></td>
                                  <td>
                                    <img width="80" height="80" src="https://img.icons8.com/office/80/user.png" alt="user"/></td>
                                  <td><%= user[i].fullName %></td>
                                  <td><%= user[i].email %></td>
                                  <!-- <td><%=// user[i].mobile %></td> -->
                                  
                                  <td>

                                    <% if(user[i].is_blocked==false){ %>

                                      <span class="text-success" id="s<%= user[i]._id %>">Active</span>

                                    <% } else{ %>

                                      <span class="text-danger" id="s<%= user[i]._id %>">Blocked</span>

                                    <% } %>

                                  </td>

                                 <td>
                                  <% if(user[i].is_blocked==false){ %>

                                      <!-- Block Button with Modal -->
                                      <a type="button" id="b<%=user[i]._id  %>" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#blockModal<%= i %>">Block</a>
                                    
                                      <!-- Block Modal -->
                                      <div class="modal fade" id="blockModal<%= i %>" tabindex="-1" aria-labelledby="blockModalLabel<%= i %>" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="blockModalLabel<%= i %>">Block User</h5>
                                              <button type="button" class="btn-close btn-outline-danger " data-bs-dismiss="modal" aria-label="Close">x</button>
                                            </div>
                                            <div class="modal-body bg-dark p-5">
                                              Are you sure you want to block : <span class="text-primary "><%=user[i].fullName%></span> ?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-outline-success ">No</button>
                                              <button type="button"  data-bs-dismiss="modal" onclick="userAction('<%=user[i]._id%>')" class="btn btn-outline-danger ">Yes</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    
                                      
                                    <% } else { %>
                                      <!-- Unblock Button with Modal -->
                                      <button id="b<%=user[i]._id  %>"  type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#unblockModal<%= i %>">
                                        Unblock
                                      </button>
                                  
                                      <!-- Unblock Modal -->
                                      <div class="modal fade" id="unblockModal<%= i %>" tabindex="-1" aria-labelledby="unblockModalLabel<%= i %>" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="unblockModalLabel<%= i %>">Unblock User</h5>
                                              <button type="button" class="btn-close btn-outline-danger " data-bs-dismiss="modal" aria-label="Close">x</button>
                                            </div>
                                            <div class="modal-body bg-dark p-5 ">
                                              Are you sure you want to unblock : <span class="text-primary "><%=user[i].fullName%></span> ?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-outline-danger " data-bs-dismiss="modal">No</button>
                                              <button type="button" onclick="userAction('<%=user[i]._id%>')"  class="btn btn-outline-success " data-bs-dismiss="modal">Yes</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    <% } %>
                                  
                                 </td>
                         
                          
                      </tr>

                      <div class="modal fade" id="Modal_Block" tabindex="-1" aria-labelledby="exampleModalLabel<%= i %>" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title fs-5" id="exampleModalLabel">User Block
                                confirmation</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                            </div>
                            <div class="modal-body">
    
                              <p class="text-center">Are you sure to block this <span class="text-success"><%= user[i].fullName %></span> ?</p>
    
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-outline-danger" id="b<%= user[i]._id %>" data-bs-toggle="modal" onclick="userAction('<%= user [i]._id %>')" >Block</button>
                              
                            </div>
                          </div>
                        </div>
                      </div>

                      <% } %>
                      
                          <%  } else { %>
                      
                  
                  <tr>
                      <td colspan="7"> Users Not Found</td>
                  </tr>

               

                  <% } %>

                  

                 
                    
                  </tbody>
              </table><!-- End table -->
            </div>
            
            <%-include('../layouts/admin/Pagination') %>
           

          </div>

        </div>
    </div>

</div>



<script>

  function userAction(user){

    console.log(user);

   const btn= document.getElementById(`b${user}`)
   const status= document.getElementById(`s${user}`)

   fetch(`/admin/userAction?id=${user}` , {method : 'put'});

   console.log(btn.textContent);
   
   if(btn.textContent=='Block'){


    btn.textContent='Unblock';
    btn.classList.add('btn-outline-success');
    btn.classList.remove('btn-outline-danger')
    status.textContent='Blocked';
    status.classList.add('text-danger')
    status.classList.remove('text-success')

    window.location.reload()
    
}else{

    btn.textContent='Block';
    status.textContent='Active';
    status.classList.remove('text-danger')
    status.classList.add('text-success')
    btn.classList.remove('btn-outline-success');
    btn.classList.add('btn-outline-danger')
    
  window.location.reload()

}


  }


</script>


<%-include('../layouts/admin/footer') %>
